.word{
  color: #292728;
}

.App {
  min-height: 100vh;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid-item{
  gap: 2rem;
}

@media screen and (max-width: 1300px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1200px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 580px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
